<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Imports" data-toc-modified-id="Imports-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Select-ticker" data-toc-modified-id="Select-ticker-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Select ticker</a></span></li><li><span><a href="#References" data-toc-modified-id="References-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>References</a></span></li></ul></div>

# Introduction
<hr style = "border:2px solid black" ></hr>

<div class="alert alert-warning">
<font color=black>

**What?** YAHOO finacial data API

</font>
</div>

# Imports
<hr style = "border:2px solid black" ></hr>

In [1]:
import pandas_datareader as pdr
import datetime as dt

# Select ticker
<hr style = "border:2px solid black" ></hr>

In [2]:
start = dt.datetime(2010, 1, 1)

aapl = pdr.get_data_yahoo("AAPL", start)

<div class="alert alert-info">
<font color=black>

- `Open` - When the stock market opens in the morning for trading, what was the price of one share?
- `High` - over the course of the trading day, what was the highest value for that day?
- `Low` - over the course of the trading day, what was the lowest value for that day?
- `Close` - When the trading day was over, what was the final price?
- `Volume` - For that day, how many shares were traded?
- `Adj Close` - Over time, companies may decide to do something called a stock split. For example, Apple did one once their stock price exceeded 1000USD. Since in most cases, people cannot buy fractions of shares, a stock price of 1,000 USD is fairly limiting to investors. Companies can do a stock split where they say every share is now 2 shares, and the price is half. Anyone who had 1 share of Apple for 1,000 USD, after a split where Apple doubled the shares, they would have 2 shares of Apple (AAPL), each worth 500 USD. Adj Close is helpful, since it accounts for future stock splits, and gives the relative price to splits. For this reason, the **adjusted** prices are the prices you're most likely to be dealing with.

</font>
</div>

In [3]:
aapl.head()

                High       Low      Open     Close       Volume  Adj Close
Date
2010-01-04  7.660714  7.585000  7.622500  7.643214  493729600.0   6.526020
2010-01-05  7.699643  7.616071  7.664286  7.656429  601904800.0   6.537304
2010-01-06  7.686786  7.526786  7.656429  7.534643  552160000.0   6.433319
2010-01-07  7.571429  7.466071  7.562500  7.520714  477131200.0   6.421425
2010-01-08  7.571429  7.466429  7.510714  7.570714  447610800.0   6.464118

In [4]:
start = dt.datetime(2010, 1, 1)
end = dt.datetime(2020, 1, 1)

aapl = pdr.get_data_yahoo("AAPL", start, end)

In [5]:
aapl

                 High        Low       Open      Close       Volume  Adj Close
Date
2010-01-04   7.660714   7.585000   7.622500   7.643214  493729600.0   6.526021
2010-01-05   7.699643   7.616071   7.664286   7.656429  601904800.0   6.537303
2010-01-06   7.686786   7.526786   7.656429   7.534643  552160000.0   6.433318
2010-01-07   7.571429   7.466071   7.562500   7.520714  477131200.0   6.421426
2010-01-08   7.571429   7.466429   7.510714   7.570714  447610800.0   6.464119
...               ...        ...        ...        ...          ...        ...
2019-12-24  71.222504  70.730003  71.172501  71.067497   48478800.0  69.738724
2019-12-26  72.495003  71.175003  71.205002  72.477501   93121200.0  71.122375
2019-12-27  73.492500  72.029999  72.779999  72.449997  146266000.0  71.095375
2019-12-30  73.172501  71.305000  72.364998  72.879997  144114400.0  71.517349
2019-12-31  73.419998  72.379997  72.482498  73.412498  100805600.0  72.039886

[2516 rows x 6 columns]

# References
<hr style = "border:2px solid black" ></hr>

<div class="alert alert-warning">
<font color=black>

- https://github.com/LearnPythonWithRune/PythonForFinancialAnalysis/blob/main/01%20-%20Read%20from%20API.ipynb
- https://www.learnpythonwithrune.org/start-python-with-pandas-for-financial-analysis/
- https://pythonprogramming.net/getting-stock-prices-python-programming-for-finance/
- https://www.quantstart.com/articles/understanding-equities-data/
    
</font>
</div>