<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Imports" data-toc-modified-id="Imports-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Load-data" data-toc-modified-id="Load-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Load data</a></span></li><li><span><a href="#Select-stocks" data-toc-modified-id="Select-stocks-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Select stocks</a></span></li><li><span><a href="#Normalise-data" data-toc-modified-id="Normalise-data-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Normalise data</a></span></li><li><span><a href="#Chose-portfolio-weights" data-toc-modified-id="Chose-portfolio-weights-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Chose portfolio weights</a></span></li><li><span><a href="#Get-the-returns" data-toc-modified-id="Get-the-returns-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Get the returns</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Step-5" data-toc-modified-id="Step-5-7.0.0.1"><span class="toc-item-num">7.0.0.1&nbsp;&nbsp;</span>Step 5</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#References" data-toc-modified-id="References-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>References</a></span></li></ul></div>

# Introduction
<hr style = "border:2px solid black" ></hr>

<div class="alert alert-warning">
<font color=black>

**What?** YAHOO finacial data API

</font>
</div>

# Imports
<hr style = "border:2px solid black" ></hr>

In [1]:
import pandas_datareader as pdr
import datetime as dt

# Load data
<hr style = "border:2px solid black" ></hr>

In [2]:
start = dt.datetime(2010, 1, 1)

aapl = pdr.get_data_yahoo("AAPL", start)

<div class="alert alert-info">
<font color=black>

- `Open` - When the stock market opens in the morning for trading, what was the price of one share?
- `High` - over the course of the trading day, what was the highest value for that day?
- `Low` - over the course of the trading day, what was the lowest value for that day?
- `Close` - When the trading day was over, what was the final price?
- `Volume` - For that day, how many shares were traded?
- `Adj Close` - Over time, companies may decide to do something called a stock split. For example, Apple did one once their stock price exceeded 1000USD. Since in most cases, people cannot buy fractions of shares, a stock price of 1,000 USD is fairly limiting to investors. Companies can do a stock split where they say every share is now 2 shares, and the price is half. Anyone who had 1 share of Apple for 1,000 USD, after a split where Apple doubled the shares, they would have 2 shares of Apple (AAPL), each worth 500 USD. Adj Close is helpful, since it accounts for future stock splits, and gives the relative price to splits. For this reason, the **adjusted** prices are the prices you're most likely to be dealing with.

</font>
</div>

In [3]:
aapl.head()

                High       Low      Open     Close       Volume  Adj Close
Date
2010-01-04  7.660714  7.585000  7.622500  7.643214  493729600.0   6.526020
2010-01-05  7.699643  7.616071  7.664286  7.656429  601904800.0   6.537304
2010-01-06  7.686786  7.526786  7.656429  7.534643  552160000.0   6.433319
2010-01-07  7.571429  7.466071  7.562500  7.520714  477131200.0   6.421425
2010-01-08  7.571429  7.466429  7.510714  7.570714  447610800.0   6.464118

In [4]:
start = dt.datetime(2010, 1, 1)
end = dt.datetime(2020, 1, 1)

aapl = pdr.get_data_yahoo("AAPL", start, end)

In [5]:
aapl

                 High        Low       Open      Close       Volume  Adj Close
Date
2010-01-04   7.660714   7.585000   7.622500   7.643214  493729600.0   6.526021
2010-01-05   7.699643   7.616071   7.664286   7.656429  601904800.0   6.537303
2010-01-06   7.686786   7.526786   7.656429   7.534643  552160000.0   6.433318
2010-01-07   7.571429   7.466071   7.562500   7.520714  477131200.0   6.421426
2010-01-08   7.571429   7.466429   7.510714   7.570714  447610800.0   6.464119
...               ...        ...        ...        ...          ...        ...
2019-12-24  71.222504  70.730003  71.172501  71.067497   48478800.0  69.738724
2019-12-26  72.495003  71.175003  71.205002  72.477501   93121200.0  71.122375
2019-12-27  73.492500  72.029999  72.779999  72.449997  146266000.0  71.095375
2019-12-30  73.172501  71.305000  72.364998  72.879997  144114400.0  71.517349
2019-12-31  73.419998  72.379997  72.482498  73.412498  100805600.0  72.039886

[2516 rows x 6 columns]

# Select stocks
<hr style = "border:2px solid black" ></hr>

In [6]:
tickers = ['AAPL', 'MSFT', 'NFLX', 'AMZN']

start = dt.datetime(2010, 1, 1)

data = pdr.get_data_yahoo(tickers, start)

In [7]:
data.head()

Attributes Adj Close                                  Close             \
Symbols         AAPL       MSFT      NFLX    AMZN      AAPL       MSFT
Date
2010-01-04  6.526021  23.749819  7.640000  6.6950  7.643214  30.950001
2010-01-05  6.537303  23.757488  7.358571  6.7345  7.656429  30.959999
2010-01-06  6.433320  23.611687  7.617143  6.6125  7.534643  30.770000
2010-01-07  6.421426  23.366133  7.485714  6.5000  7.520714  30.450001
2010-01-08  6.464119  23.527283  7.614286  6.6760  7.570714  30.660000

Attributes                        High             ...       Low          \
Symbols         NFLX    AMZN      AAPL       MSFT  ...      NFLX    AMZN
Date                                               ...
2010-01-04  7.640000  6.6950  7.660714  31.100000  ...  7.565714  6.6570
2010-01-05  7.358571  6.7345  7.699643  31.100000  ...  7.258571  6.5905
2010-01-06  7.617143  6.6125  7.686786  31.080000  ...  7.197143  6.5825
2010-01-07  7.485714  6.5000  7.571429  30.700001  ...  7.462857  6.4400
2010-01-08  7.614286  6.6760  7.571429  30.879999  ...  7.465714  6.4515

Attributes      Open                                    Volume              \
Symbols         AAPL       MSFT      NFLX    AMZN         AAPL        MSFT
Date
2010-01-04  7.622500  30.620001  7.931429  6.8125  493729600.0  38409100.0
2010-01-05  7.664286  30.850000  7.652857  6.6715  601904800.0  49749600.0
2010-01-06  7.656429  30.879999  7.361429  6.7300  552160000.0  58182400.0
2010-01-07  7.562500  30.629999  7.731429  6.6005  477131200.0  50559700.0
2010-01-08  7.510714  30.280001  7.498571  6.5280  447610800.0  51197400.0

Attributes
Symbols           NFLX         AMZN
Date
2010-01-04  17239600.0  151998000.0
2010-01-05  23753100.0  177038000.0
2010-01-06  23290400.0  143576000.0
2010-01-07   9955400.0  220604000.0
2010-01-08   8180900.0  196610000.0

[5 rows x 24 columns]

# Normalise data
<hr style = "border:2px solid black" ></hr>

In [8]:
data = data['Adj Close']

In [9]:
data.head()

Symbols         AAPL       MSFT      NFLX    AMZN
Date
2010-01-04  6.526021  23.749819  7.640000  6.6950
2010-01-05  6.537303  23.757488  7.358571  6.7345
2010-01-06  6.433320  23.611687  7.617143  6.6125
2010-01-07  6.421426  23.366133  7.485714  6.5000
2010-01-08  6.464119  23.527283  7.614286  6.6760

In [10]:
data.iloc[0]

Symbols
AAPL     6.526021
MSFT    23.749819
NFLX     7.640000
AMZN     6.695000
Name: 2010-01-04 00:00:00, dtype: float64

In [11]:
# normalisation wrt the first entry
norm = data/data.iloc[0]

In [12]:
norm.head()

Symbols         AAPL      MSFT      NFLX      AMZN
Date
2010-01-04  1.000000  1.000000  1.000000  1.000000
2010-01-05  1.001729  1.000323  0.963164  1.005900
2010-01-06  0.985795  0.994184  0.997008  0.987677
2010-01-07  0.983973  0.983845  0.979806  0.970874
2010-01-08  0.990515  0.990630  0.996634  0.997162

# Chose portfolio weights
<hr style = "border:2px solid black" ></hr>

In [13]:
portfolio = [.25, .25, .25, .25]

In [21]:
weights = norm*portfolio

In [22]:
weights.head()

Symbols         AAPL      MSFT      NFLX      AMZN
Date
2010-01-04  0.250000  0.250000  0.250000  0.250000
2010-01-05  0.250432  0.250081  0.240791  0.251475
2010-01-06  0.246449  0.248546  0.249252  0.246919
2010-01-07  0.245993  0.245961  0.244951  0.242718
2010-01-08  0.247629  0.247657  0.249159  0.249291

In [16]:
# Calculate the sum and add index
weights['Total'] = (norm*portfolio).sum(axis=1)

In [17]:
weights.head()

Symbols         AAPL      MSFT      NFLX      AMZN     Total
Date
2010-01-04  0.250000  0.250000  0.250000  0.250000  1.000000
2010-01-05  0.250432  0.250081  0.240791  0.251475  0.992779
2010-01-06  0.246449  0.248546  0.249252  0.246919  0.991166
2010-01-07  0.245993  0.245961  0.244951  0.242718  0.979624
2010-01-08  0.247629  0.247657  0.249159  0.249291  0.993735

# Get the returns
<hr style = "border:2px solid black" ></hr>

In [18]:
(weights*100000).head()

Symbols,AAPL,MSFT,NFLX,AMZN,Total
Date,,,,,
2010-01-04,25000.000000,25000.000000,25000.000000,25000.000000,100000.000000
2010-01-05,25043.219165,25008.073166,24079.094179,25147.497232,99277.883742
2010-01-06,24644.877656,24854.596685,24925.207092,24691.934358,99116.615791
2010-01-07,24599.314865,24596.116849,24495.137728,24271.844038,97962.413480
2010-01-08,24762.864515,24765.749700,24915.857588,24929.051333,99373.523137

In [19]:
(weights*100000).tail()

Symbols,AAPL,MSFT,NFLX,AMZN,Total
Date,,,,,
2022-09-02,596879.773562,269538.895954,739888.758383,476138.905403,2.082446e+06
2022-09-06,591976.330949,266580.981220,714626.973842,470911.117912,2.044095e+06
2022-09-07,597454.431364,271675.753077,749214.694748,483495.117280,2.101840e+06
2022-09-08,591708.204072,272128.380400,744240.858691,484764.764733,2.092842e+06
2022-09-09,602855.840593,278381.062253,764299.775543,497647.501327,2.143184e+06

In [20]:
(weights['Total']*100000).iloc[-1]

2143184.1797164376

# References
<hr style = "border:2px solid black" ></hr>

<div class="alert alert-warning">
<font color=black>

- https://github.com/LearnPythonWithRune/PythonForFinancialAnalysis/blob/main/01%20-%20Read%20from%20API.ipynb
- https://www.learnpythonwithrune.org/start-python-with-pandas-for-financial-analysis/
- https://pythonprogramming.net/getting-stock-prices-python-programming-for-finance/

</font>
</div>